In [10]:
import snscrape.modules.twitter as sntwitter
import pandas as pd
from datetime import datetime, timedelta

# Define the coordinates of the city and the radius to search within
def dataframe(query):
 city_coordinates = {
    "Jacksonville": "30.3321848,-81.655651",
    "Miami": "25.7889689,-80.2264393",
    "Tampa": "27.9477595,-82.458444",
    "Orlando": "28.5383355,-81.3792365",
    "St. Petersburg": "27.7676008,-82.6402915",
    "Hialeah": "25.8575963,-80.2781057",
    "Tallahassee": "30.4382559,-84.2807329",
    "Port St. Lucie": "27.2776168,-80.3881221",
    "Fort Lauderdale": "26.1224386,-80.1373174",
    "Cape Coral": "26.5628537,-81.9495336",
    "Pembroke Pines": "26.007765,-80.2962555",
    "Hollywood": "26.0112014,-80.1494901",
    "Miramar": "25.9860762,-80.3035602",
    "Gainesville": "29.6516344,-82.3248262",
    "Coral Springs": "26.271192,-80.2706044",
    "Miami Gardens": "25.9420377,-80.2456045",
    "Clearwater": "27.9658533,-82.8001026",
    "Palm Bay": "28.0344621,-80.5886646",
    "Pompano Beach": "26.2378597,-80.1247667",
    "West Palm Beach": "26.7153424,-80.0533746",
    "Lakeland": "28.0516368,-81.9549877",
    "Davie": "26.0764783,-80.2521157",
    "Miami Beach": "25.8120356,-80.1393513",
    "Plantation": "26.1275862,-80.2331047",
    "Sunrise": "26.1551249,-80.311198",
    "Boca Raton": "26.3683064,-80.1048684",
    "Brandon": "27.9094674,-82.7873244",
    "Deltona": "28.9005446,-81.2636738",
    "Boynton Beach": "26.5317866,-80.0905465",
    "Lauderhill": "26.1403635,-80.2133808",
    "Weston": "26.1003654,-80.3997748",
    "Kissimmee": "28.2927585,-81.407571",
    "Daytona Beach": "29.2108147,-81.0228331",
    "North Port": "27.044224,-82.2359254",
    "Titusville": "28.6122187,-80.8075537",
    "Deerfield Beach": "26.3184123,-80.0997657",
    "Palm Coast": "29.5389609,-81.2236879",
    "Sarasota": "27.3364347,-82.5306527",
    "Sanford": "28.8005456,-81.2736535",
    "Bradenton": "27.488217 ,-82.577743",
    "Sanford": "28.8005456,-81.2736535",
    "Melbourne": "28.0836269,-80.6081089",
    "Plant City": "28.0186322,-82.128842",
    "New Smyrna Beach": "29.0258191,-80.9269984",
    "Aventura": "25.9564818,-80.1392121",
    "Winter Springs": "28.6985951,-81.3085716",
    "Sebastian": "27.8085029,-80.4703861",
    "Palmetto Bay": "25.6301466,-80.31923",
    "St. Augustine": "29.901244,-81.3124341",
    "Safety Harbor": "28.0095431,-82.6968298",
    "Lake Mary": "28.7571224,-81.339552",
    "West Melbourne": "28.0718704,-80.6533749",
    "Sweetwater": "25.763797,-80.3732247",
    "South Miami": "25.7020866,-80.2972569",
    "Punta Gorda": "26.9297847,-82.0453668",
    "Orange City": "28.9442612,-81.2967067",
    "Maitland": "28.6253477,-81.3677728",
    "Lantana": "26.5867357,-80.0528188",
    "Marco Island": "25.9395837,-81.7071652",
    "Fernandina Beach": "30.669682,-81.4625923",
    "Lake City": "30.189899,-82.639289"}

    
  

 radius = '30km'

 # Define the search query parameters
 search_words = query
 start_date = datetime(2022, 9, 23)
 end_date = datetime(2022, 9, 30)

 # Create an empty list to store the tweets
 tweets = []

 # Loop over each city and search for tweets within the specified radius
 for city, coordinates in city_coordinates.items():
    # Define the search query
    query = f'{search_words} near:"{coordinates}" within:{radius} since:{start_date.strftime("%Y-%m-%d")} until:{end_date.strftime("%Y-%m-%d")}'

     # Execute the query and append the results to the tweets list
    for tweet in sntwitter.TwitterSearchScraper(query).get_items():
        tweets.append([city, tweet.date, tweet.content,tweet.user.username])

 # Convert the list of tweets to a pandas DataFrame
 df = pd.DataFrame(tweets, columns=['City', 'Date', 'Text','Username'])
 return df

In [11]:
df_1 = dataframe("weather")

C:\Users\vasuk\AppData\Local\Temp\ipykernel_26284\3918865406.py:90: DeprecatedFeatureWarning: content is deprecated, use rawContent instead
  tweets.append([city, tweet.date, tweet.content,tweet.user.username])

In [13]:

df_3 = dataframe("storm")
df_4 = dataframe("outage")

C:\Users\vasuk\AppData\Local\Temp\ipykernel_26284\3918865406.py:90: DeprecatedFeatureWarning: content is deprecated, use rawContent instead
  tweets.append([city, tweet.date, tweet.content,tweet.user.username])
C:\Users\vasuk\AppData\Local\Temp\ipykernel_26284\3918865406.py:90: DeprecatedFeatureWarning: content is deprecated, use rawContent instead
  tweets.append([city, tweet.date, tweet.content,tweet.user.username])

In [18]:
df_2 = dataframe("hurrican_ian")
df_5 = dataframe("outage")

C:\Users\vasuk\AppData\Local\Temp\ipykernel_26284\3918865406.py:90: DeprecatedFeatureWarning: content is deprecated, use rawContent instead
  tweets.append([city, tweet.date, tweet.content,tweet.user.username])
C:\Users\vasuk\AppData\Local\Temp\ipykernel_26284\3918865406.py:90: DeprecatedFeatureWarning: content is deprecated, use rawContent instead
  tweets.append([city, tweet.date, tweet.content,tweet.user.username])

In [26]:
df_6 = dataframe("power out")
df_7 = dataframe("power outage")
df_8 = dataframe("pwr out")
df_9 = dataframe("power failure")

C:\Users\vasuk\AppData\Local\Temp\ipykernel_26284\3918865406.py:90: DeprecatedFeatureWarning: content is deprecated, use rawContent instead
  tweets.append([city, tweet.date, tweet.content,tweet.user.username])
C:\Users\vasuk\AppData\Local\Temp\ipykernel_26284\3918865406.py:90: DeprecatedFeatureWarning: content is deprecated, use rawContent instead
  tweets.append([city, tweet.date, tweet.content,tweet.user.username])
C:\Users\vasuk\AppData\Local\Temp\ipykernel_26284\3918865406.py:90: DeprecatedFeatureWarning: content is deprecated, use rawContent instead
  tweets.append([city, tweet.date, tweet.content,tweet.user.username])

In [34]:
len(df_1)+len(df_2)+len(df_3)+len(df_4)+len(df_5)+len(df_6)+len(df_7)+len(df_8)+len(df_9)

22225

In [38]:
df_10 = dataframe("hurricane")
df_11 = dataframe("ian")
df_12 = dataframe("lost power")

C:\Users\vasuk\AppData\Local\Temp\ipykernel_26284\3918865406.py:90: DeprecatedFeatureWarning: content is deprecated, use rawContent instead
  tweets.append([city, tweet.date, tweet.content,tweet.user.username])
C:\Users\vasuk\AppData\Local\Temp\ipykernel_26284\3918865406.py:90: DeprecatedFeatureWarning: content is deprecated, use rawContent instead
  tweets.append([city, tweet.date, tweet.content,tweet.user.username])
C:\Users\vasuk\AppData\Local\Temp\ipykernel_26284\3918865406.py:90: DeprecatedFeatureWarning: content is deprecated, use rawContent instead
  tweets.append([city, tweet.date, tweet.content,tweet.user.username])

In [43]:
len(df_11)

20502

In [ ]:
# saving all the datframes into a single file

In [44]:
frames = [df_1,df_2,df_3,df_4,df_5,df_6,df_7,df_8,df_9,df_10,df_11,df_12]
data = pd.concat(frames)

In [45]:
data.head()

,City,Date,Text,Username
0,Jacksonville,2022-09-29 21:13:58+00:00,Windows open in this weather babyyyy,TheBigGuy904
1,Jacksonville,2022-09-29 16:58:32+00:00,Thank you for all the coverage of #Ida @Keitha...,PatrickFon12
2,Jacksonville,2022-09-29 13:57:51+00:00,Due to weather at the Beach being more intense...,904Donatos
3,Jacksonville,2022-09-29 10:20:57+00:00,Haggai 2 God’s message was “be strong &amp; c...,J19foundation
4,Jacksonville,2022-09-29 01:04:01+00:00,Thanks for bringing us the latest weather upda...,PatrickFon12

In [46]:
len(data)

70888

In [48]:
# saving into a csv file
data.to_csv('C:\\Users\\vasuk\\OneDrive\\Desktop\\Data\\CNST\\group38_data.csv')